* {
    font-family: 'Pavanam', sans-serif;
    text-align: center;
}

html, body, #app, #app>div {
  height: 100%
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    height: 100%;
}

.flex-container {
    margin-bottom: 50px;
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(https://s3.us-east-2.amazonaws.com/trig010/food-preparation1.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    margin: 125px 0 0;
    width: 110%;
    border: 3px solid #f1da36;
    border-radius: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.description-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 0 175px 100px;
}

.description-item {
    border: 3px solid #f1da36;
    border-radius: 50%;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.description-title {
    font-size: 1.7em;
}

.subtitle {
    font-size: 2em;
    margin: 0 auto 10px;
}

.main-title {
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
}

.material-icons.md-48 { font-size: 48px; }

h1 {
    font-family: 'Caveat', cursive;
    font-size: 5em;
    margin: 0 auto;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
    margin: 5px 0 0;
}

p {
    margin: 5px 0;
}

label {
    font-size: 1.1em;
}

input {
    min-width: 400px;
    height: 30px;
    margin: 15px 0 25px;
    border-radius: 5px;
    font-size: 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-carousel {
    background: url('https://s3.us-east-2.amazonaws.com/trig010/egg_header.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 215px;
    margin-bottom: 35px;
}

.food-photo {
    width: 100%;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 25px;
}

.recipes-title {
    font-size: 1.7em;
}

.recipe-container {
    display: flex;
    flex-direction: row;
}

.recipe-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.recipe-title {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 5px;
}

.recipe-photo {
    margin: 5px 5px 0;
    max-width: 300px;
}

.view-saved-button-container {
    margin: 35px auto;
}

.view-saved-recipes-button {
    margin-right: 5px;
    width: 160px;
}

.hide-saved-recipes-button {
    width: 160px;
}

.saved-recipes-box {
    transition-timing-function: ease;
    transition: 1.5s;
}

.saved-recipes-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-button {
    width: 120px;
}

.recipe-button {
    margin: 5px 0 0;
    width: 300px;
    align-self: center;
}

.enter {
    margin: 25px 0 75px;
    width: 150px;
}

#star-icon:hover {
    color: darkgrey;
    cursor: pointer;
}

hr {
    margin-bottom: 10px;
}

@media (max-width: 600px) {

    html, body {
      height: 100%
    }
    #app, #app>div {
        height: auto;
    }
    .flex-container {
        margin-bottom: 20px;
    }
    .splash-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
      height: 175px;
      margin: 50px 0 0;
    }
    .description-container {
        padding: 10px;
        flex-direction: column;
        margin: 10px 0 50px;
    }
    .description-item {
        margin: 5px 0;
        min-width: 180px;
        min-height: 180px;
    }
    .recipe-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    .saved-recipes-list {
        flex-direction: column;
    }
    .title {
        font-size: 3.5em;
    }
    .subtitle {
        font-size: 1.7em;
    }
    .enter {
        margin: 15px 0 15px 0;
    }
    .wrapper {
        flex-direction: column;
        padding: 0;
        margin: 15px 15px 25px;
    }
    form {
        margin: 15px;
        font-size: .8em;
    }
    label {
        font-size: 1.1em;
    }
    input {
        min-width: 200px;
    }
    h3 {
        margin: 0 0 5px;
    }
    .recipes-title {
        font-size: 1.3em;
    }
    .main-title {
        font-size: 2.7em;
        margin: 0 35px;
        text-align: center;
    }
    .recipe-title {
        text-align: center;
    }
}
